In [2]:
#introduction to list of datatypes

#defination : list is collection of items defined in particular order
# [] using ths bracket list datatypes defined

In [3]:
student=['ajit','ashwini','asma','bhujan','david']
print(student)

['ajit', 'ashwini', 'asma', 'bhujan', 'david']

In [4]:
# i want to access ashwini name in the output.......
print(student[1])

ashwini

In [5]:
print(student[1].title())

Ashwini

In [7]:
#i want to access the bhuvan name in the output........
print(student[3].title())

Bhujan

In [8]:
#add the new element the list
#modify the element in the list
#delete the element in the list

In [9]:
#add the elelment in the list
student.append('sundar')

In [10]:
print(student)

['ajit', 'ashwini', 'asma', 'bhujan', 'david', 'sundar']

In [11]:
#i want the add the element on the 2nd position

In [12]:
student.insert(2,"kalam")

In [13]:
print(student)

['ajit', 'ashwini', 'kalam', 'asma', 'bhujan', 'david', 'sundar']

In [15]:
#i want to modify the 3rd posotion element with mayur.....
student[3]="mayur"

In [16]:
print(student)

['ajit', 'ashwini', 'kalam', 'mayur', 'bhujan', 'david', 'sundar']

In [17]:
# i want to delete the 1st element of list
del student[1]

In [18]:
print(student)

['ajit', 'kalam', 'mayur', 'bhujan', 'david', 'sundar']